<form [formGroup]="cosmeticForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="serialNumber">Serial Number</label>
    <input type="number" id="serialNumber" formControlName="serialNumber" [appHighlightOnFocus] = "'lightgrey'"  />
  </div>

  <div class="form-group">
    <label for="productName">Product Name</label>
    <input type="text" id="productName" formControlName="productName" [appHighlightOnFocus] = "'lightgrey'" />
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" id="price" formControlName="price" [appHighlightOnFocus] = "'lightgrey'" />
  </div>

  <div class="form-group">
    <label for="color">Color</label>
    <input type="text" id="color" formControlName="color" [appHighlightOnFocus] = "'lightgrey'" />
  </div>

  <div class="form-group">
    <label for="skinType">Skin Type</label>
    <input type="text" id="skinType" formControlName="skinType" [appHighlightOnFocus] = "'lightgrey'" />
  </div>

  <div class="form-group">
    <label for="userInformation">User Information Is Available</label>
    <input type="checkbox" id="userInformation" formControlName="userInformation" />
  </div>

  <button type="submit" [appHighlightOnFocus] = "'darkgreen'" >Submit</button>


</form>
