<form [formGroup]="cosmeticForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-list>

      <mat-list-item>
      <mat-label> Serial Number</mat-label>
      </mat-list-item>
      <input matInput placeholder="serial number" matTooltip="You need to input serial number">
  <mat-divider></mat-divider>


      <mat-list-item>
      <mat-label> Product Name </mat-label>
    </mat-list-item>
      <input matInput placeholder="product name" matTooltip="You need to input product name">
      <mat-divider></mat-divider>



    <mat-list-item>
      <mat-label> Price </mat-label>
    </mat-list-item>
      <input matInput placeholder="price" matTooltip="You need to input price">
      <mat-divider></mat-divider>


    <mat-list-item>
      <mat-label> Color </mat-label>
    </mat-list-item>
      <input matInput placeholder="color" matTooltip="You need to input color">
      <mat-divider></mat-divider>


    <mat-list-item>
      <mat-label> Skin Type </mat-label>
    </mat-list-item>
      <input matInput placeholder="skin type" matTooltip="You need to input skin type">
      <mat-divider></mat-divider>


    <mat-checkbox formControlName="isAdmin" class="checkbox">User Information Is Available</mat-checkbox>




      <button mat-stroked-button type="submit" [appHighlightOnFocus] = "'darkgreen'" >Submit</button>

    </mat-list>
</div>


</form>
