<div *ngIf="cosmetic" class="productDescription">
  <p [appHoverHighlight]="'skyblue'">Serial Number : {{cosmetic.serialNumber}}</p>
  <p [appHoverHighlight]="'skyblue'">Price : {{cosmetic.price | currency: 'CAD': "symbol-narrow"}}</p>
  <p [appHoverHighlight]="'skyblue'">Color : {{cosmetic.color | uppercase}}</p>
  <p [appHoverHighlight]="'skyblue'">Skin Type : {{cosmetic.skinType | lowercase}} </p>
  <p [appHoverHighlight]="'skyblue'">User Information : {{cosmetic.userInformation}}</p>
  <button (click)="goBackward()" [disabled]="currentIndex === 0" [appHoverHighlight]="'blue'">Previous</button>
  <button (click)="goForward()" [disabled]="currentIndex === userList.length -1" [appHoverHighlight]="'blue'">Next</button>
  <button (click)="goBack()" [appHoverHighlight]="'blue'">Back to Products</button>
</div>
