<div *ngIf="cosmetic" class="productDescription">
  <p>Serial Number : {{cosmetic.serialNumber}}</p>
  <p>Price : {{cosmetic.price | currency: 'CAD': "symbol-narrow"}}</p>
  <p>Color : {{cosmetic.color | uppercase}}</p>
  <p>Skin Type : {{cosmetic.skinType | lowercase}} </p>
  <p>User Information : {{cosmetic.userInformation}}</p>
  <button (click)="goBackward()" [disabled]="currentIndex === 0">Previous</button>
  <button (click)="goForward()" [disabled]="currentIndex === userList.length -1">Next</button>
  <button (click)="goBack()">Back to Products</button>
</div>
