<div class="container">
  <h2>Cosmetic Products</h2>
<table>
  <thead>
  <tr>
    <th>Serial Number</th>
    <th>Product Name</th>
    <th>Skin Type</th>
    <th>Color</th>
    <th>Price</th>
    <th>User Information</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cosmetic of userList" [routerLink]="['/cosmetics',cosmetic.serialNumber]">
    <td>{{cosmetic.serialNumber}} </td>
    <td>{{cosmetic.productName}}</td>
    <td>{{cosmetic.skinType}}</td>
    <td>{{cosmetic.color}}</td>
    <td>{{cosmetic.price}}</td>
    <td>{{cosmetic.userInformation}}</td>
    <button type="button" (click)="delete(cosmetic.serialNumber)">Delete</button>

    <button type="button" (click)="navigateToCosmeticList(cosmetic.serialNumber)">Back to List</button>
  </tr>
  </tbody>
</table>
</div>

<div *ngIf="error" class="error">{{error}}</div>
