<div class="container">
  <h2>Cosmetic Products</h2>
<table>
  <thead>
  <tr>
    <th>Serial Number</th>
    <th>Product Image</th>
    <th>Product Name</th>
    <th>Skin Type</th>
    <th>Color</th>
    <th>Price</th>
    <th>User Information</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cosmetic of userList" (click)="selectCosmetic(cosmetic)">
    <td>{{cosmetic.serialNumber}} </td>
    <td><img [src] ="cosmetic.image"></td>
    <td>{{cosmetic.productName}}</td>
    <td>{{cosmetic.skinType}}</td>
    <td>{{cosmetic.color}}</td>
    <td>{{cosmetic.price}}</td>
    <td>{{cosmetic.userInformation}}</td>
  </tr>
  </tbody>
</table>
</div>
